@model IEnumerable<Model.Model.Phim>
@{
    ViewBag.Title = "Film";
    Layout = "~/Areas/Admin/Views/Shared/Layout.cshtml";
}



<div class="container-fluid">
    <h2>Phim</h2>
    <div style="margin-bottom: 10px;">
        <a class="btn-add" href="/film/insert">Thêm phim mới</a>
    </div>

    <table class="table table-bordered" style="border:1px solid;">
        <thead class="text-center">
            <tr>
                <th>Id</th>
                <th>Tên phim</th>
                <th>Mô tả</th>
                <th>Ảnh</th>
                <th>Link</th>
                <th>Lượt xem</th>
                <th colspan="2">Hành động</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr id="@item.idPhim">
                    <td>@item.idPhim</td>
                    <td>@item.TenPhim</td>
                    <td>@item.MoTa</td>
                    <td><img src="@item.Anh" style="width: 100px; height:150px;" /></td>
                    <td>@item.Link</td>
                    <td>@item.LuotXem</td>
                    <td><a href="/film/update/@item.idPhim">Sửa</a></td>
                    <td><a href="/film/delete/@item.idPhim">Xóa</a></td>
                </tr>
            }
        </tbody>
    </table>

</div>


